.image {
  width: 100%;
}

.name {
  margin: 0;
  padding-top: 12px;
  text-align: center;
  font-size: 2.5vw;
  font-family: sans-serif;
  color: #000000a6;
}

.card {
  display: flex;
  flex-direction: column;
  width: 17.7%;
  margin: 1vw;
  border: 1px solid rgb(211, 210, 210);
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.05);

  border-radius: 10px;
}

.card:hover {
  border: 1px solid rgb(190, 189, 189);
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.15);
}

.flex {
  display: flex;
  flex-wrap: wrap;
  margin: 1vw;
}
